.linha{
  margin: 2rem;
  border: solid 2px #fff;
  width: 95%;
  height: 95%;
}

.linha main{
  padding: 2rem;

}


.linha main header{
  display: flex;
  margin-bottom: 2rem;
  height: 30%;
  justify-content: space-between;
  gap: 1rem;
}