.CardG{
    display: flex;
    gap: 2rem;
    height: 100%;
    
    
}

.ItemCard1  {
    padding: auto;
    border: 1px solid #fff !important;
    color: #fff !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 375px;
    
    
}

.CardLink{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    
    

    
  } 

.CardLink :hover, .CardLink :focus{
    color: rgb(107, 107, 107) !important;
    transition: 0.3s;
    background-color: transparent;
    
    
}
